@import "tailwindcss";

@font-face {
  font-family: 'Shabnam';
  src: url('./fonts/Shabnam-Medium-FD.woff2') format('woff2'),
       url('./fonts/Shabnam-Medium-FD.woff2') format('woff2');
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Medium.woff2') format('woff2'),
       url('./fonts/Estedad-Medium.woff2') format('woff2');
}

body {
  background: #282828;
  color: #e2e2e2;
  font-family: 'Estedad';
  box-sizing: border-box;
} 
